html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.toolbar {
	width: 100%;
	height: 100px;
	background: lightblue;
}

.context {
	width: 100%;
	height: calc(100% - 100px);
}

.context .sidebar {
	width: 300px;
	height: 100%;
	float: left;
	background: lightcyan
}

.context .my-map {
	display: block;
	overflow: hidden;
	height: 100%;
	min-height: 100%;
	width: auto;
	position: relative;
}

.context .my-canvas {
	display: block;
	overflow: hidden;
	height: 100%;
	min-height: 100%;
	width: auto;
	position: relative;
}


:host {
	position: relative;
}

.grid {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none;
	font-family: sans-serif;
}

.grid-lines {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	pointer-events: none;
}

.grid-line {
	pointer-events: all;
	position: absolute;
	top: 0;
	left: 0;
	width: .5rem;
	height: .5rem;
	opacity: .25;
}

.grid-line[hidden] {
	display: none;
}

.grid-line:hover {
	opacity: .5;
}

@supports (--css: variables) {
	.grid {
		--opacity: .15;
	}

	.grid-line {
		opacity: var(--opacity);
	}

	.grid-line:hover {
		opacity: calc(var(--opacity) * 2);
	}
}

.grid-line-x {
	height: 100%;
	width: 0;
	border-left: 1px solid;
	margin-left: -1px;
}

.grid-line-x:after {
	content: '';
	position: absolute;
	width: .5rem;
	top: 0;
	bottom: 0;
	left: -.25rem;
}

.grid-line-x.grid-line-min {
	margin-left: 0px;
}

.grid-line-y {
	width: 100%;
	height: 0;
	margin-top: -1px;
	border-top: 1px solid;
}

.grid-line-y:after {
	content: '';
	position: absolute;
	height: .5rem;
	left: 0;
	right: 0;
	top: -.25rem;
}

.grid-line-y.grid-line-max {
	margin-top: 0px;
}

/* radial lines */
.grid-line-r {
	height: 100%;
	width: 100%;
	left: 50%;
	top: 50%;
	border-radius: 50vw;
	box-shadow: inset 0 0 0 1px;
}

/* angular lines */
.grid-line-a {
	height: 0;
	top: 50%;
	left: 50%;
	transform-origin: left center;
	width: 50%;
	border-top: 1px solid;
}

.grid-line-a:after {
	content: '';
	position: absolute;
	height: .5rem;
	left: 0;
	right: 0;
	top: -.25rem;
}

.grid-line-a:before {
	content: '';
	position: absolute;
	width: .4rem;
	right: 0;
	top: -1px;
	height: 0;
	border-bottom: 2px solid;
}


.grid-axis {
	position: absolute;
}

.grid-axis-x {
	top: auto;
	bottom: 0;
	right: 0;
	left: 0;
	border-bottom: 2px solid;
	margin-bottom: -.5rem;
}

.grid-axis-y {
	border-left: 2px solid;
	right: auto;
	top: 0;
	bottom: 0;
	left: -1px;
	margin-left: -.5rem;
}

.grid-axis-a {
	height: 100%;
	width: 100%;
	left: 50%;
	top: 50%;
	border-radius: 50vw;
	box-shadow: 0 0 0 2px;
}

.grid-axis-r {
	border-left: 2px solid;
	right: auto;
	top: 50%;
	height: 100%;
	left: -1px;
	margin-left: -.5rem;
}

.grid-label {
	position: absolute;
	top: auto;
	left: auto;
	min-height: 1rem;
	margin-top: -.5rem;
	font-size: .8rem;
	pointer-events: all;
	white-space: nowrap;
}

.grid-label-x {
	bottom: auto;
	top: 100%;
	margin-top: 1.5rem;
	width: 2rem;
	margin-left: -1rem;
	text-align: center;
}

.grid-label-x:before {
	content: '';
	position: absolute;
	height: .5rem;
	width: 0;
	border-left: 2px solid;
	top: -1rem;
	margin-left: -1px;
	margin-top: -2px;
	left: 1rem;
}

.grid-label-y {
	right: 100%;
	margin-right: 1.5rem;
	margin-top: -.5rem;
}

.grid-label-y:before {
	content: '';
	position: absolute;
	width: .5rem;
	height: 0;
	border-top: 2px solid;
	right: -1rem;
	top: .4rem;
	margin-right: -1px;
}

.grid-label-r {
	right: 100%;
	top: calc(50% - .5rem);
	margin-right: 1.5rem;
}

.grid-label-r:before {
	content: '';
	position: absolute;
	width: .5rem;
	height: 0;
	border-top: 2px solid;
	right: -1rem;
	top: .4rem;
	margin-right: -1px;
}


.grid-label-a {
	bottom: auto;
	width: 2rem;
	text-align: center;
}